# -------------------------
# System / editor files
# -------------------------
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed

# -------------------------
# Environment / sensitive
# -------------------------
.env
.env.backup
.env.production
/auth.json
Homestead.json
Homestead.yaml

# -------------------------
# Node / PHP dependencies
# -------------------------
/node_modules
/vendor

# -------------------------
# Build artifacts / caches
# -------------------------
/public/build
/public/hot
/public/storage
.phpunit.cache
.phpunit.result.cache
.phpactor.json
npm-debug.log
yarn-error.log

# -------------------------
# Storage folder
# -------------------------
# Ignore all files in storage
/storage/*

# Keep folder structure only (empty folders with .gitkeep)
/storage/**/

# Ignore sensitive keys and specific folder
/storage/*.key
/storage/pail
